In [2]:
import pandas as pd

In [25]:
d = pd.read_csv("nass_crops.csv", sep='\t')

/Library/Python/2.7/site-packages/IPython/core/interactiveshell.py:2902: DtypeWarning: Columns (18,21,22,25,29,35,37,38) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [24]:
len(d[(d.YEAR >= 2015) & (d.YEAR <= 2015)])

0

In [5]:
d.rename(columns={'CV_%': 'CV'}, inplace=True)

In [23]:
d[['DOMAIN_DESC', 'COMMODITY_DESC', 'STATISTICCAT_DESC', 'AGG_LEVEL_DESC', 'COUNTRY_NAME', 'STATE_NAME' , 
   'COUNTY_NAME', 'UNIT_DESC', 'VALUE', 'YEAR']]

,DOMAIN_DESC,COMMODITY_DESC,STATISTICCAT_DESC,AGG_LEVEL_DESC,COUNTRY_NAME,STATE_NAME,COUNTY_NAME,UNIT_DESC,VALUE,YEAR
0,TOTAL,"FLOWERING PLANTS, POTTED",SALES,STATE,UNITED STATES,ALABAMA,NaN,POTS,820,2009
1,TOTAL,"FLOWERING PLANTS, POTTED",SALES,STATE,UNITED STATES,ARKANSAS,NaN,POTS,(D),2014
2,TOTAL,"FLOWERING PLANTS, POTTED",SALES,STATE,UNITED STATES,CALIFORNIA,NaN,POTS,"10,922",2009
3,TOTAL,"FLOWERING PLANTS, POTTED",SALES,STATE,UNITED STATES,CALIFORNIA,NaN,POTS,885,2014
4,TOTAL,"FLOWERING PLANTS, POTTED",SALES,STATE,UNITED STATES,COLORADO,NaN,POTS,(D),2014
5,TOTAL,"FLOWERING PLANTS, POTTED",SALES,STATE,UNITED STATES,CONNECTICUT,NaN,POTS,635,2009
6,TOTAL,"FLOWERING PLANTS, POTTED",SALES,STATE,UNITED STATES,CONNECTICUT,NaN,POTS,"1,368",2014
7,TOTAL,"FLOWERING PLANTS, POTTED",SALES,STATE,UNITED STATES,DELAWARE,NaN,POTS,(D),2014
8,TOTAL,"FLOWERING PLANTS, POTTED",SALES,STATE,UNITED STATES,FLORIDA,NaN,POTS,"10,103",2009
9,TOTAL,"FLOWERING PLANTS, POTTED",SALES,STATE,UNITED STATES,FLORIDA,NaN,POTS,(D),2014
10,TOTAL,"FLOWERING PLANTS, POTTED",SALES,STATE,UNITED STATES,GEORGIA,NaN,POTS,(D),2009
11,TOTAL,"FLOWERING PLANTS, POTTED",SALES,STATE,UNITED STATES,GEORGIA,NaN,POTS,(D),2014
12,TOTAL,"FLOWERING PLANTS, POTTED",SALES,STATE,UNITED STATES,IDAHO,NaN,POTS,(D),2009
13,TOTAL,"FLOWERING PLANTS, POTTED",SALES,STATE,UNITED STATES,IDAHO,NaN,POTS,(D),2014
14,TOTAL,"FLOWERING PLANTS, POTTED",SALES,STATE,UNITED STATES,ILLINOIS,NaN,POTS,"1,380",2009
15,TOTAL,"FLOWERING PLANTS, POTTED",SALES,STATE,UNITED STATES,ILLINOIS,NaN,POTS,420,2014
16,TOTAL,"FLOWERING PLANTS, POTTED",SALES,STATE,UNITED STATES,INDIANA,NaN,POTS,92,2009
17,TOTAL,"FLOWERING PLANTS, POTTED",SALES,STATE,UNITED STATES,INDIANA,NaN,POTS,"1,215",2014
18,TOTAL,"FLOWERING PLANTS, POTTED",SALES,STATE,UNITED STATES,IOWA,NaN,POTS,(D),2009
19,TOTAL,"FLOWERING PLANTS, POTTED",SALES,STATE,UNITED STATES,IOWA,NaN,POTS,(D),2014
20,TOTAL,"FLOWERING PLANTS, POTTED",SALES,STATE,UNITED STATES,KANSAS,NaN,POTS,(D),2009
21,TOTAL,"FLOWERING PLANTS, POTTED",SALES,STATE,UNITED STATES,KENTUCKY,NaN,POTS,(D),2009
22,TOTAL,"FLOWERING PLANTS, POTTED",SALES,STATE,UNITED STATES,KENTUCKY,NaN,POTS,(D),2014
23,TOTAL,"FLOWERING PLANTS, POTTED",SALES,STATE,UNITED STATES,LOUISIANA,NaN,POTS,(D),2009
24,TOTAL,"FLOWERING PLANTS, POTTED",SALES,STATE,UNITED STATES,LOUISIANA,NaN,POTS,(D),2014
25,TOTAL,"FLOWERING PLANTS, POTTED",SALES,STATE,UNITED STATES,MAINE,NaN,POTS,244,2009
26,TOTAL,"FLOWERING PLANTS, POTTED",SALES,STATE,UNITED STATES,MAINE,NaN,POTS,(D),2014
27,TOTAL,"FLOWERING PLANTS, POTTED",SALES,STATE,UNITED STATES,MARYLAND,NaN,POTS,"1,190",2009
28,TOTAL,"FLOWERING PLANTS, POTTED",SALES,STATE,UNITED STATES,MARYLAND,NaN,POTS,(D),2014
29,TOTAL,"FLOWERING PLANTS, POTTED",SALES,STATE,UNITED STATES,MASSACHUSETTS,NaN,POTS,"1,740",2009
...,...,...,...,...,...,...,...,...,...,...
70,TOTAL,"FLOWERING PLANTS, POTTED",SALES,STATE,UNITED STATES,WASHINGTON,NaN,POTS,(D),2014
71,TOTAL,"FLOWERING PLANTS, POTTED",SALES,STATE,UNITED STATES,WEST VIRGINIA,NaN,POTS,(D),2014
72,TOTAL,"FLOWERING PLANTS, POTTED",SALES,STATE,UNITED STATES,WISCONSIN,NaN,POTS,(D),2009
73,TOTAL,"FLOWERING PLANTS, POTTED",SALES,STATE,UNITED STATES,WISCONSIN,NaN,POTS,748,2014
74,TOTAL,"FLOWERING PLANTS, POTTED",SALES,NATIONAL,UNITED STATES,US TOTAL,NaN,POTS,"63,722",2009
75,TOTAL,"FLOWERING PLANTS, POTTED",SALES,NATIONAL,UNITED STATES,US TOTAL,NaN,POTS,"118,506",2014
76,TOTAL,"FLOWERING PLANTS, POTTED",SALES,STATE,UNITED STATES,ALABAMA,NaN,OPERATIONS,3,2009
77,TOTAL,"FLOWERING PLANTS, POTTED",SALES,STATE,UNITED STATES,ARKANSAS,NaN,OPERATIONS,4,2014
78,TOTAL,"FLOWERING PLANTS, POTTED",SALES,STATE,UNITED STATES,CALIFORNIA,NaN,OPERATIONS,15,2009
79,TOTAL,"FLOWERING PLANTS, POTTED",SALES,STATE,UNITED STATES,CALIFORNIA,NaN,OPERATIONS,7,2014
80,TOTAL,"FLOWERING PLANTS, POTTED",SALES,STATE,UNITED STATES,CONNECTICUT,NaN,OPERATIONS,3,2009
81,TOTAL,"FLOWERING PLANTS, POTTED",SALES,STATE,UNITED STATES,CONNECTICUT,NaN,OPERATIONS,5,2014
82,TOTAL,"FLOWERING PLANTS, POTTED",SALES,STATE,UNITED STATES,DELAWARE,NaN,OPERATIONS,2,2014
83,TOTAL,"FLOWERING PLANTS, POTTED",SALES,STATE,UNITED STATES,FLORIDA,NaN,OPERATIONS,12,2009
84,TOTAL,"FLOWERING PLANTS, POTTED",SALES,STATE,UNITED STATES,FLORIDA,NaN,OPERATIONS,3,2014
85,TOTAL,"FLOWERING PLANTS, POTTED",SALES,STATE,UNITED STATES,GEORGIA,NaN,OPERATIONS,1,2009
86,TOTAL,"FLOWERING PLANTS, POTTED",SALES,STATE,UNITED STATES,GEORGIA,NaN,OPERATIONS,2,2014
87,TOTAL,"FLOWERING PLANTS, POTTED",SALES,STATE,UNITED STATES,IDAHO,NaN,OPERATIONS,3,2009
88,TOTAL,"FLOWERING PLANTS, POTTED",SALES,STATE,UNITED STATES,IDAHO,NaN,OPERATIONS,1,2014
89,TOTAL,"FLOWERING PLANTS, POTTED",SALES,STATE,UNITED STATES,ILLINOIS,NaN,OPERATIONS,10,2009
90,TOTAL,"FLOWERING PLANTS, POTTED",SALES,STATE,UNITED STATES,ILLINOIS,NaN,OPERATIONS,4,2014
91,TOTAL,"FLOWERING PLANTS, POTTED",SALES,STATE,UNITED STATES,INDIANA,NaN,OPERATIONS,3,2009
92,TOTAL,"FLOWERING PLANTS, POTTED",SALES,STATE,UNITED STATES,INDIANA,NaN,OPERATIONS,3,2014
93,TOTAL,"FLOWERING PLANTS, POTTED",SALES,STATE,UNITED STATES,IOWA,NaN,OPERATIONS,1,2009
94,TOTAL,"FLOWERING PLANTS, POTTED",SALES,STATE,UNITED STATES,IOWA,NaN,OPERATIONS,2,2014
95,TOTAL,"FLOWERING PLANTS, POTTED",SALES,STATE,UNITED STATES,KENTUCKY,NaN,OPERATIONS,3,2009
96,TOTAL,"FLOWERING PLANTS, POTTED",SALES,STATE,UNITED STATES,LOUISIANA,NaN,OPERATIONS,1,2009
97,TOTAL,"FLOWERING PLANTS, POTTED",SALES,STATE,UNITED STATES,LOUISIANA,NaN,OPERATIONS,1,2014
98,TOTAL,"FLOWERING PLANTS, POTTED",SALES,STATE,UNITED STATES,MAINE,NaN,OPERATIONS,5,2009
99,TOTAL,"FLOWERING PLANTS, POTTED",SALES,STATE,UNITED STATES,MAINE,NaN,OPERATIONS,4,2014